.table {
  border-collapse: separate !important;
  table-layout: fixed;
}

.tableHeaderRow {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #d9d9d9;

  .tableCell {
    text-align: center !important;

    &.sticky {
      z-index: 2;
    }
  }
}

.tableRow {
  background-color: #fff;

  &:nth-of-type(odd) {
    background-color: #f1f1f1;
  }

  &:last-child td,
  &:last-child th {
    border-bottom: 0;
  }

  &:hover {
    background-color: #d9d9d9;
  }

  .tableCell {
    &.sticky {
      z-index: 1;
    }

    &.interactive {
      &:hover {
        cursor: pointer;
        background-color: rgba(#00b1f2, 0.5);
      }
    }
  }
}

.tableCell {
  background-color: inherit;
  padding: 0 !important;

  & > div,
  & > button {
    padding: 16px;
  }

  &:not(:last-child) {
    border-right: 1px solid rgba(224, 224, 224, 1);
  }

  &.sticky {
    position: sticky;
  }

  &.interactive {
    position: relative;

    button {
      position: absolute;
      inset: 0;

      &:focus-visible {
        outline: #32a1ce auto 1px;
      }
    }
  }
}